# Application Port
PORT=3000

# Local MySQL Database Configuration (Used by application in development)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_local_mysql_password
DB_DATABASE=earthx_db
DB_SYNCHRONIZE=true

# Production MySQL Database Configuration (Used by "npm run db:sync" to fetch live data for testing)
PROD_DB_HOST=DB_HOST
PROD_DB_PORT=3306
PROD_DB_USERNAME=your_prod_mysql_username
PROD_DB_PASSWORD=your_prod_mysql_password
PROD_DB_DATABASE=your_prod_mysql_database

# JWT Authentication Configuration
JWT_SECRET=earthx_super_secret_jwt_key_2026_change_in_production
JWT_EXPIRES_IN=1d
